<div class="list" id="list">
    <div class="list-head" id="list-head">
        <h2><input type=text value={{appService.getTask()?.name}} (keydown.enter)="updateTask($event)"/></h2>
    </div>
    <div class="add-task">
        <img src="../../assets/icon/plus.png"/>
        <input (keydown.enter)="newTask($event)" type="text" id="input" placeholder="Add a task">
    </div>
    <div id="myList" class="myList">
        <div *ngFor="let subTask of appService.getTask()?.tasks">
            <img [ngClass]="subTask.checked?'check' : 'uncheck'" (click)="checked(subTask)"/>
            <span><a [ngClass]="subTask.checked?'checked' : ''" (click)="getSubTask(subTask)" (contextmenu)="onRightClick($event)">{{subTask?.name}}</a></span>
        </div>
    </div>
</div>