.list {
	display: flex;
    width: 45rem;
    height: 100%;
    flex-direction: column;
    font-family: sans-serif;
}

.listwidth {
    width:65.5rem;
}
.list-head {
	padding: 0% 5%;
    color: #127AD3;
    height: 10%;
}
.list-head input {
    font-size: 20px;
    color: #127AD3;
}

.list input {
	width: 25%;
    height: 87%;
    border: none;
    outline: none;
}

.myList {
	display: flex;
    padding: 12px;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 488px;
}

.myList div {
    height: 2rem;
    border-bottom-style: ridge;
    padding: 12px;
}
.myList a {
    padding-left: 2%;
    width: 40%;
    height: 4%;
}
.myList img {
    width: 20px;
}

.add-task {
	display:flex;
}

.add-task img {
    padding: 10px;
}

.checked {
    text-decoration: line-through;
}

.uncheck {
    content: url("../../assets/icon/round.png")
}

.check {
    content: url("../../assets/icon/check.svg")
}